# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtualenvs
venv/
.env/
.venv/

# Git
.git/
.gitignore

# OS files
.DS_Store
Thumbs.db

# Editors/IDE
.vscode/
.idea/

# Docker
**/Dockerfile~
**/.dockerignore~
