[mysqld]
# Habilitar mysql_native_password para compatibilidad con mysql-connector-python
default-authentication-plugin=mysql_native_password

# Permitir conexiones desde cualquier host
bind-address=0.0.0.0



